---
---

@import "{{ site.theme }}";

body {
  background-color: rgb(211,211,211);
}

header {
  display: none;
}

h1, h2, p, a {
  color: white;
  text-align: center;
  font-family: "courier new", serif;
}

a.link {
  color: blue
}

h1.link {
  color: blue
}

a.visited {
  color: rgb(128,0,128);
}

h1.visited {
  color: rgb(128,0,128);
}
