---
---

@import "{{ site.theme }}";

.text {
  display: inline;
}

p.dashed {
  border-style: dashed;
}

a.dashed {
  border-style: dashed;
}

body {
  background-color: rgb(211,211,211);
}

header {
  display: none;
}

h1, h2, p, a {
  color: black;
  font-family: "courier new", serif;
}

a.link {
  color: blue
}

h1.link {
  color: blue
  font-family: "courier new", serif;
}

a.visited {
  color: rgb(128,0,128);
  font-family: "courier new", serif;
}

h1.visited {
  color: rgb(128,0,128);
  font-family: "courier new", serif;
}
